@font-face {
	font-family: "Matofont";
	src: url("/fonts/Matofont17.ttf") format("truetype"),
		 url("/fonts/Matofont17.otf") format("opentype");
}

.matofont {
	font-family:  "Matofont", fantasy, sans-serif;
}

.palette {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.colorblob {
	width: 12vmin;
	height: 12vmin;
	border-radius: 100%;
	text-align: center;
	margin: 8%;
	border: .4vmin solid rgba(255,255,255,0.5);
	box-shadow: inset 0 0 0 .55vmin rgba(0,0,0,0.5);
}

.nopadding {
	padding: unset !important;
}


.carousel {
	height: 75vh;
}