@font-face {
	font-family: "Matofont";
	src: url("/fonts/Matofont17.ttf") format("truetype"),
		 url("/fonts/Matofont17.otf") format("opentype");
}

.matofont {
	font-family:  "Matofont", "Hey Gorgeous", "Finale Copyist Text", "MV Boli", "Segoe Print", "Kristen ITC", "Lucida Handwriting", cursive, sans-serif;
}

.palette {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* margin-top: 10px; */
}

.colorblob {
	width: 12vmin;
	height: 12vmin;
	border-radius: 100%;
	text-align: center;
	margin: 8%;
	border: .4vmin solid rgba(255,255,255,0.5);
	box-shadow: inset 0 0 0 .55vmin rgba(0,0,0,0.5);
}

.nopadding {
	padding: 0px !important;
}

.no_mb {
	margin-bottom: 0px;
}

#mobile .carousel {
	height: 70vh;
}

#mobile .carousel .carousel-item {
	height: 100%;
	display: flex;
	justify-content: center;
}

#mobile .carousel .carousel-item > img {
	width: unset;
	height: 100%;
	/* max-width: 83vw; */
}

.circle {
	transition: border-radius 0.2s ease-out, shadow 0.2s ease-out;
}

.circle.materialboxed.active {
	border-radius: 4px;
	box-shadow: 1px 5px 13px 3px rgba(0,0,0,0.3);
}

.materialbox-caption {
	text-shadow: 0 0px 3px black, 0 0px 6px black, 0 0px 8px black;
}

#materialbox-overlay {
	filter: opacity(0.7);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

#mobile {
	background-attachment: fixed;
	background: #83a4d4;  /* fallback for old browsers */
	background: linear-gradient(to bottom, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .darkcover {
	background: #0F2027;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
} */

.darkcover {
	background: rgba(0, 0, 0, 0.65)
}

#mobile_poses {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	padding: 1em 0em;
}